h1 {
	color: blue;
}
#par-one{
  color: magenta;
  font-size: 20px;
  font-style: italic;
}
#par-three{
  color: brown;
  border: 2px solid green;
}
.container{
  margin: 20px 30px 40px 50px;
  border: 3px solid blue;
  padding: 10px;
}
p {
	color: red;
	font-size: 35px;
}
